<section class="hero is-dark is-fullheight-with-navbar">
    <form [formGroup]="userdataform" (ngSubmit)="SubmitData($event)">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered is-one-quarter">
                  <div class="field">
                    <label class="label has-text-white">Region</label>
                    <div class="control has-icons-left has-icons-right">
                      <input formControlName="region" class="input is-hovered is-rounded is-link" type="text" placeholder="region">
                      <span class="icon is-small is-left">
                        <i class="fa fas fa-solid fa-globe"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label has-text-white">Age</label>
                    <div class="control has-icons-left has-icons-right">
                      <input formControlName="age" class="input is-hovered is-rounded is-link" type="text" placeholder="age">
                      <span class="icon is-small is-left">
                        <i class="fa fas fa-id-card-o"></i>
                      </span>
                    </div>
                  </div>
                    <div class="field">
                      <label class="label has-text-white">City</label>
                      <div class="control has-icons-left has-icons-right">
                        <input formControlName="city" class="input is-hovered is-rounded is-link" type="text" placeholder="city">
                        <span class="icon is-small is-left">
                          <i class="fa fas fa-building"></i>
                        </span>
                      </div>
                    </div>
                      <div class="field">
                        <label class="label has-text-white">Gender</label>
                        <div class="control has-icons-left has-icons-right">
                          <input formControlName="gender" class="input is-hovered is-rounded is-link" type="text" placeholder="male">
                          <span class="icon is-small is-left">
                            <i class="fa fas fa-venus-mars"></i>
                          </span>
                        </div>
                      </div>
                    <button type="submit" class="button is-medium is-success">Search</button>
                </div>
                <div class="column has-text-centered">
                  @if(usersArrived.length != 0){
                    <div class="columns is-multiline">
                        <div class="column is-one-quarter" *ngFor="let user of usersArrived">
                            <div class="box has-background-light">
                                <article class="media">
                                  <div class="media-left">
                                    <a (click)="SeeUserProfile(user.Id)">
                                      <figure class="image is-96x96">
                                        <img id={{user.Id}} alt="Image" />
                                      </figure>
                                    </a>
                                  </div>
                                  <div class="media-content">
                                    <div class="content">
                                      <p>
                                        <strong>{{user.Username + "  "}}</strong>
                                        <small>{{user.Age + "  "}}</small>
                                        <small>{{user.Gender}}</small>
                                        @if(user.Role == "FUA"){
                                          <img src="assets/images/fullaccessicon.png" width="19px" height="19px" alt="Image" />
                                        }
                                        <br />
                                        <small>City: {{user.City}}</small>
                                        <br />
                                        <small>Region: {{user.Region}}</small>
                                      </p>
                                    </div>
                                    <nav class="level is-mobile has-text-centered">
                                      <div class="level-left has-text-centered">
                                        <a class="level-item" aria-label="retweet">
                                          <span class="icon is-small">
                                            <i class="fa fas fa-envelope" aria-hidden="true" (click)="SendMSG(user.Id)"></i>
                                          </span>
                                        </a>
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                                              <i class="fa fas fa-user" aria-hidden="true" (click)="SeeUserProfile(user.Id)"></i>
                                            </span>
                                          </a>
                                      </div>
                                    </nav>
                                  </div>
                                </article>
                            </div>
                        </div>
                    </div>
                  }
                </div>
            </div>
        </div>
    </form>
</section>


<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="columns is-vcentered">
      <div class="column">
        <form [formGroup]="MessageToSendForm" (ngSubmit)="SendMessage($event)">
          <div class="control">
            <textarea
              class="textarea is-focused"
              placeholder="Type message here"
              formControlName="Message"
            ></textarea>
          </div>
          <div class="control has-text-centered">
            <button type="submit" class="button is-medium is-success">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="switchVis()"></button>
</div>

<div class="modal" id="modal2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><strong>Messages limit achieved</strong></p>
      <button class="delete" aria-label="close" (click)="switchVis2()"></button>
    </header>
    <section class="modal-card-body">
      Your daliy limit of 5 messages has been achieved already
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-warning" (click)="switchVis2()">Go back</button>
      </div>
    </footer>
  </div>
</div>
