.image img {
    height: 96px;
    width: 96px;
}

.field{
    width: 80%;
}

.container{
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    max-width: 1900px;
}

button{
    margin-right: 20%;
}

nav{
    justify-content: space-around;
}

.hero{
    background-image: url("/assets/images/spaceBackgroundRest.png");
    background-repeat: no-repeat;
    background-size: cover;
}
