.title{
    margin-top: 50%;
}

.bodytr{
    margin-top: 25%;
}

.hero{
    background-image: url("/assets/images/spaceBackgroundRest.png");
    background-repeat: no-repeat;
    background-size: cover;
}