<nav class="navbar is-white" role="navigation" aria-label="main navigation" *ngIf="visible_nav">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navig" id="burger" (click)="ShowMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  <div id="navig" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/Dashboard']">
          <img src="assets/images/logo.png" alt="Logo">
        </a>
      </div>
      <a class="navbar-item" [routerLink]="['/Profile']">Your profile</a>

      <a class="navbar-item" [routerLink]="['/Notifications']">Recent Notifications</a>

      <a class="navbar-item" [routerLink]="['/Search']">Search for people</a>

      <a class="navbar-item" [routerLink]="['/Messages']">Your Messages</a>

      <a class="navbar-item" [routerLink]="['/Payments']">Transactions</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="['/Contact']">Contact Us</a>

      <a class="navbar-item" (click)="Logout()">Logout</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="footer" *ngIf="visible_nav">
  <div class="content has-text-centered">
    <p>
      <strong>Orchard</strong> by Adam Wielogórski.
      <a [routerLink]="['/Contact']">Contact Us</a> if you have any questions
    </p>
  </div>
</footer>
 