<div class="hero is-fullheight-with-navbar is-dark">
  <div class="container">
    <div class="columns is-vcentered">
        <div class="column has-text-centered">
            <br><br><img id="image" alt="Your Image" width="300px" height="300px"><br><br><br>
            <label class="label has-text-white">Username</label>
            <input id="Unameinput" class="input is-hovered is-rounded is-link has-text-centered" type="text" placeholder="Username" [value]="userToView.Username" readonly>
            <label class="label has-text-white">Age</label>
            <input id="Ageinput"  class="input is-hovered is-rounded is-link has-text-centered" type="text" placeholder="Username" [value]="userToView.Age" readonly>        
            <label class="label has-text-white">Region</label>   
            <input id="Regioninput" class="input is-hovered is-rounded is-link has-text-centered" type="text" placeholder="Username" [value]="userToView.Region" readonly>     
            <label class="label has-text-white">City</label>   
            <input id="Cityinput" class="input is-hovered is-rounded is-link has-text-centered" type="text" placeholder="Username" [value]="userToView.City" readonly><br>  
            <label class="label has-text-white">Sex</label>   
            <input id="SexInput" class="input is-hovered is-rounded is-link has-text-centered" type="text" placeholder="Username" [value]="userToView.Sex" readonly><br>               
            <a>
              <i class="fa fas fa-envelope" aria-hidden="true" (click)="switchVis()"></i>
            </a>
        </div>
    </div>
  </div> 
</div>    




<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="columns is-vcentered">
      <div class="column">
        <form [formGroup]="MessageToSendForm" (ngSubmit)="SubmitData($event)">
          <div class="control">
            <textarea
              class="textarea is-focused"
              placeholder="Type message here"
              formControlName="Message"
            ></textarea>
          </div>
          <div class="control has-text-centered">
            <button type="submit" class="button is-medium is-success">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="switchVis()"></button>
</div>

<div class="modal" id="modal2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><strong>Messages limit achieved</strong></p>
      <button class="delete" aria-label="close" (click)="switchVis2()"></button>
    </header>
    <section class="modal-card-body">
      Your daliy limit of 5 messages has been achieved already
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-warning" (click)="switchVis2()">Go back</button>
      </div>
    </footer>
  </div>
</div>
