.panel-block{
    background-color: whitesmoke;
    border-style: 10px solid;
    border-color: black;
    align-items: left;
}

textarea{
    resize: none;
}

figure > img{
    height: 64px;
    width: 64px;
}

.hero{
    background-image: url("/assets/images/spaceBackgroundRest.png");
    background-repeat: no-repeat;
    background-size: cover;
}