@if (canBeShown == 2){
  <div class="hero is-fullheight-with-navbar is-dark">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <article class="panel">
  
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-hovered is-rounded is-link" type="text" placeholder="Filter by username" [value]="filter()" (keyup)="FilterMessages($event)"/>
              <span class="icon is-left">
                <i class="fa fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
  
          @for (user of objectsToDisplay; track user) {
            <div class="panel-block is-block">
              <div class="columns is-vcentered">
                <div class="column has-text-centered is-one-fifth">
                  <figure class="image is-inline-block">
                    <img class={{user.Username}} alt="Image"/>
                  </figure>
                </div>
                <div class="column has-text-left">
                  <strong>{{user.Username + user.Gender + " " + user.SendDate.substring(0,10)}}</strong>
                  {{user.MessageText}}
                </div>
                <div class="column has-icons-right has-text-right is-one-fifth">
                  <div class="columns is-vcentered">
                    <div class="column"></div>
                    <div class="column has-icons-left has-text-left is-two-fifth">
                      <a>
                        <span class="icon is-small" style="font-size: 25px;">
                          <i class="fa fas fa-envelope" aria-hidden="true" (click)="SendMSG(user.AuthorId)"></i>
                        </span>
                      </a>
                    </div>
                    <div class="column has-icons-left has-text-left" >
                      <a>
                        <span class="icon is-small" style="font-size: 25px;">
                          <i class="fa fas fa-arrow-right" aria-hidden="true" (click)="SeeUserProfile(user.AuthorId)"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
          
        </article>
      </div>
    </div>
  </div>
}
@else if (canBeShown == 1) {
  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="columns is-vcentered has-text-centered">
        <div class="column">

        </div>
        <div class="column">
            <img src="assets/images/banernomsg.png" width="80%" height="80%" alt="empty" style="margin-top: 35%;">
        </div>
        <div class="column">

        </div>
    </div>
</section>
}
@else {
  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="columns is-vcentered has-text-centered">
        <div class="column">

        </div>
        <div class="column">

        </div>
        <div class="column">

        </div>
    </div>
</section>
}

<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="columns is-vcentered">
      <div class="column">
        <form [formGroup]="MessageToSendForm" (ngSubmit)="SendMessage($event)">
          <div class="control">
            <textarea
              class="textarea is-focused"
              placeholder="Type message here"
              formControlName="Message"
            ></textarea>
          </div>
          <div class="control has-text-centered">
            <button type="submit" class="button is-medium is-success">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="switchVis()"></button>
</div>

<div class="modal" id="modal2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><strong>Messages limit achieved</strong></p>
      <button class="delete" aria-label="close" (click)="switchVis2()"></button>
    </header>
    <section class="modal-card-body">
      Your daliy limit of 5 messages has been achieved already
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-warning" (click)="switchVis2()">Go back</button>
      </div>
    </footer>
  </div>
</div>

