.panel-block{
    background-color: whitesmoke;
    border-style: 10px solid;
    border-color: black;
}


textarea{
    resize: none;
}

.title {
    margin-top: -20%;
}

img{
    height: 64px;
    width: 64px;
}

.hero{
    background-image: url("/assets/images/spaceBackgroundRest.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.columns{
    justify-content: space-around;
    display: flex;
}

nav{
    justify-content: center;
}
