<section class="hero is-medium is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
    
                </div>
                <div class="column has-text-centered">
                  <h1 class="title">Latest 5 messages</h1>
                  <h2 class="subtitle">
                    Here will always be shown your last 5 messages
                  </h2>
                    <article class="panel">               
                        @for (user of objectsToDisplay; track user) {
                          <div class="panel-block is-block">
                            <div class="columns is-vcentered">
                              <div class="column has-text-centered is-one-fifth">
                                <figure class="image is-inline-block">
                                  <img class={{user.Username}} alt="Image"/>
                                </figure>
                              </div>
                              <div class="column has-text-left is-half">
                                <strong>{{user.Username}}</strong>
                                {{user.Sex}}
                                {{user.MessageText}}
                              </div>
                              <div class="column has-icons-right has-text-right is-two-fifth">
                                <div class="columns is-vcentered">
                                  <div class="column"></div>
                                  <div class="column has-icons-left has-text-left">
                                    <a>
                                      <span class="icon is-small" style="font-size: 25px;">
                                        <i class="fa fas fa-envelope" aria-hidden="true" (click)="SendMSG(user.AuthorId)"></i>
                                      </span>
                                    </a>
                                  </div>
                                  <div class="column has-icons-left has-text-left is-three-quarters" >
                                    <a>
                                      <span class="icon is-small" style="font-size: 25px;">
                                        <i class="fa fas fa-arrow-right" aria-hidden="true" (click)="SeeUserProfile(user.AuthorId)"></i>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        }
                        
                      </article>
                </div>
                <div class="column has-text-centered">
                    
                </div>
            </div>
          </div>
      </div>
  </section>



  <div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="columns is-vcentered">
        <div class="column">
          <form [formGroup]="MessageToSendForm" (ngSubmit)="SendMessage($event)">
            <div class="control">
              <textarea
                class="textarea is-focused"
                placeholder="Type message here"
                formControlName="Message"
              ></textarea>
            </div>
            <div class="control has-text-centered">
              <button type="submit" class="button is-medium is-success">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="switchVis()"></button>
  </div>
  
  <div class="modal" id="modal2">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><strong>Messages limit achieved</strong></p>
        <button class="delete" aria-label="close" (click)="switchVis2()"></button>
      </header>
      <section class="modal-card-body">
        Your daliy limit of 5 messages has been achieved already
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button is-warning" (click)="switchVis2()">Go back</button>
        </div>
      </footer>
    </div>
  </div>