img{
    margin-top: 35%;
}
p{
    font-size: x-large;
    margin-top: 30%;
}
span{
    margin-left: 10px;
}
i{
    font-size: 20px;
}

.hero{
    background-image: url("/assets/images/spaceBackgroundRest.png");
    background-repeat: no-repeat;
    background-size: cover;
}